<h1 class="m-3">Stupid Coaching</h1>
<div class="m-3 m-3 px-3 border-start">
  <p><%= @question %></p>
  <p class="fst-italic">-You</p>
</div>
<div class="m-3 px-3 border-start border-5 bg-warning bg-opacity-10">
  <p class="fw-bolder"><%= @answer %></p>
  <p class="fst-italic">-Your Coach</p>
</div>
<div class="m-3">
  <%= link_to "Ask a new question", ask_path, :class=>'text-decoration-none' %>
</div>
